.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
	padding-top: 0px;
	font: 14px/1.21 'Helvetica Neue',arial;
	background: black; 
	background-color: black;
	min-height: 100%;
	min-width: 100%;
}


header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	background: #2f9c76;
	line-height: 56px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	
	nav {
		display: inline-block;
		padding: 0 10px;
    }
  
	nav a {
		display: inline-block;
		padding: 0 10px;
		color: #FFF;
		font-size: 18px;
		font-weight: 300;
		letter-spacing: 0.10em;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			background-color: rgba(255,255,255,0.2);
		}
	}

	nav button {
		color: black;
		background-color: white;	
	}
}

nav_bottom {
	color: black;
	background-color: white;
}


input {
	background: #FFF;
	border: 4px solid rgb(133, 118, 118);
	line-height: 1.4 !important;
	padding: 5px 10px;
	font: inherit;
	font-size: 100%;
	border-radius: 7px;
	outline: none;
	margin-top: 10px;
	&:focus { border-color: #0f7c56; }
}

input:focus, button:focus {
	outline: 5px solid black;  
}

.input_dark {
	background: rgb(7, 7, 7);
	border: 3px solid rgb(133, 118, 118);
	line-height: 1.3 !important;
	padding: 5px 10px;
	font: inherit;
	font-size: 100%;
	border-radius: 7px;
	outline: none;
	color: whitesmoke;
	margin-top: 10px;
}

.input_dark:focus {
	outline: 5px solid white;  
}

.button_dark:focus {
	outline: 5px solid yellowgreen;  
}

section {
	display: block;
	margin: 5px auto;
	padding: 20px;
	margin-bottom: 0px;
	margin-top: 40px;
	max-width: 100%;
	background: #FAFAFA;
	box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	border-radius: 3px;
}

.section_dark {
	display: block;
	margin: 5px auto;
	padding: 20px;
	margin-bottom: 0px;
	margin-top: 40px;
	width: 100%;
	color: white;
	background: black;
	box-shadow: 0 1px 5px wheat;
	border-radius: 3px;
}


.page {
	min-height: 100%;
	width: 100%;
	background-color: white;
}

/*
 ul {
	margin: 0;
	padding-left: 0;
}
*/

label {
	font-size: 20px;
}

legend {
	font-size: 18px;
}

button {
	font-size: 20px;
	color: white;
}

.button_dark {
	font-size: 20px;
	color: white;
}

input::-webkit-input-placeholder {
    font-size: 18px;
    
}

input[type="text"]
{
    font-size: 18px;
}

.input_dark[type="text"]
{
    font-size: 18px;
}

a {font-size: 16px}

.a_dark {
	font-size: 16px; 
	color: yellow;
}

a:focus {
	border: 2px solid rgba(36, 39, 219, 0.623);
	margin: 3px;
	text-align: center;
	background: rgb(238, 19, 19);
	text-decoration: underline;
	color: white;
	will-change: background-color;
}

.a_dark:focus {
	border: 2px solid rgba(36, 39, 219, 0.623);
	margin: 3px;
	text-align: center;
	background: white;
	text-decoration: underline;
	color: black;
	will-change: background-color;
}

div {font-size: 16px}

li {font-size: 16px}

li:focus { border: 4px solid rgba(36, 39, 219, 0.623); }

.div_dark {font-size: 16px}

.li_dark {font-size: 16px}

li_dark:focus { border: 4px solid rgba(36, 39, 219, 0.623); }

.error {color: rgba(197, 23, 174, 0.973); background: black; font-size: 16px}

.error_dark {color: red; background: white; font-size: 16px}


.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: rgb(190, 181, 206);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.header_dark {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: rgb(190, 181, 206);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.political_p {
	font-size: 22px;
}

.political_p_dark {
	font-size: 22px;
}

/* 	background-color: #333;
	color: #fff;
*/
.mdc-theme--dark {
	background-color: white;
	color: black;
}

input[type=radio] {
	border: 2px solid rgba(36, 39, 219, 0.623);
	margin: 10px;
}

.input_dark[type=radio] {
	border: 2px solid rgba(36, 39, 219, 0.623);
	margin: 10px;
}

p {
	margin: 20px;
	padding-right: 100px;
}

.p_dark {
	margin: 20px;
	padding-right: 100px;
}
